.task-card{
    background-color: #272B33;
    display: block;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.task-card p{
    margin-top: 1%;
}

.due-date{
    float: right;
    font-size: 13px;
    font-weight: normal;
}

.btn-wrapper a{
    border: #0075FF 1px solid;
    width: 45%;
    padding: 10px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.btn-wrapper a:last-child{
    float: right;
    background-color: #0075FF;
}

.double-btn{
    margin-bottom: 2%;
}

.double-btn a{
    background-color: #272B33;
    width: 45%;
    padding: 10px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.double-btn a:last-child{
    float: right;
}

small {
    color: #8C8C8C;
}

.big-btn a{
    background-color: #0075FF;
    width: 98%;
    padding: 1%;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.disabled-task{
    background: #8C8C8C !important;
    border: 1px solid #8C8C8C !important;
}
