<nav>
    <div class="nav-items-left nav-items">
        <div>
            <a>
                {% include 'icons/heart.html' %}
                Following
            </a>
        </div>
        <div>
            <a href="{% url 'task_list' %}">
                {% include 'icons/tasks.html' %}
                Open tasks
                <p class="task-amount">{{ task_amount }}</p>
            </a>
        </div>
        <div>
            <a>
                {% include 'icons/users.html' %}
                Users
            </a>
        </div>
    </div>
    <div class="nav-items-right nav-items">
        <div>
            <a>
                {% include 'icons/settings.html' %}
                Account
            </a>
        </div>

        <div>
            <a class="logout-btn" href="{% url 'logout' %}">
                Logout
                {% include 'icons/logout.html' %}
            </a>
        </div>
    </div>
</nav>