{% extends 'base.html' %}
{% block content %}
    <div class="big-btn">
        <a href="{% url 'task_create' %}">Create a new task</a>
    </div>
    {% for task in object_list %}
        <div class="task-card">
            <h3>{{ task.task_name }}
                <small class="due-date">{{ task.added_on|timesince }} ago</small>
            </h3>
            <small>due: {{ task.due|date }} {{ task.due|time }}</small>
            <p>{{ task.task_description }}</p>
            <div class="btn-wrapper">
                <a href="{% url 'task_update' task.id %}">edit task</a>
                <a href="{% url 'mark_completed' task.id %}">mark as completed</a>
            </div>
        </div>
    {% endfor %}
    {% include 'snippets/paginator.html' %}
{% endblock %}